@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.main-card {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 375px) {
  .main-card {
    background-color: #FFF;
    width: 80vw;
    height: 75vh;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 85% 1fr;
    grid-template-rows: 1fr 55% 20% 22%;
  }
  .main-card h1 {
    font-size: 1.3em;
    color: hsl(218, 44%, 22%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }
  .main-card p {
    font-size: 0.9em;
    color: hsl(220, 15%, 55%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-weight: 400;
    text-align: center;
    align-self: flex-start;
  }
  .qr-img {
    width: 70vw;
    height: 40vh;
    border-radius: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .main-card {
    background-color: #FFF;
    width: 35vw;
    height: 75vh;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 85% 1fr;
    grid-template-rows: 1fr 50% 20% 25%;
  }
  .main-card h1 {
    font-size: 1.1em;
    color: hsl(218, 44%, 22%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }
  .main-card p {
    font-size: 0.9em;
    color: hsl(220, 15%, 55%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-weight: 400;
    text-align: center;
    align-self: flex-start;
    justify-self: center;
  }
  .qr-img {
    width: 30vw;
    height: 40vh;
    border-radius: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
  }

  @media only screen and (min-width: 889px) {
    .main-card {
      background-color: #FFF;
      width: 30vw;
      height: 65vh;
      border-radius: 1em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr 85% 1fr;
      grid-template-rows: 1fr 50% 20% 25%;
    }
    .main-card h1 {
      font-size: 1.1em;
      color: hsl(218, 44%, 22%);
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      font-weight: 700;
      align-self: center;
      text-align: center;
    }
    .main-card p {
      font-size: 0.9em;
      color: hsl(220, 15%, 55%);
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      font-weight: 400;
      text-align: center;
      align-self: flex-start;
      justify-self: center;
    }
    .qr-img {
      width: 25vw;
      height: 35vh;
      border-radius: 1em;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      align-self: flex-start;
    }
}
@media only screen and (min-width: 1024px) {
  .main-card {
    background-color: #FFF;
    width: 25vw;
    height: 50vh;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 85% 1fr;
    grid-template-rows: 1fr 50% 20% 25%;
  }
  .main-card h1 {
    font-size: 1.1em;
    color: hsl(218, 44%, 22%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }
  .main-card p {
    font-size: 0.8em;
    color: hsl(220, 15%, 55%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-weight: 400;
    text-align: center;
    align-self: flex-start;
    justify-self: center;
  }
  .qr-img {
    width: 20vw;
    height: 25vh;
    border-radius: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .main-card {
    background-color: #FFF;
    width: 20%;
    height: 60%;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 85% 1fr;
    grid-template-rows: 1fr 50% 20% 25%;
  }
  .main-card h1 {
    font-size: 1.2em;
    color: hsl(218, 44%, 22%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }
  .main-card p {
    font-size: 0.8em;
    color: hsl(220, 15%, 55%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-weight: 400;
    text-align: center;
    align-self: flex-start;
    justify-self: center;
  }
  .qr-img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1440px) {
  .main-card {
    background-color: #FFF;
    width: 20%;
    height: 45%;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 85% 1fr;
    grid-template-rows: 1fr 50% 20% 25%;
  }
  .main-card h1 {
    font-size: 1.1em;
    color: hsl(218, 44%, 22%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }
  .main-card p {
    font-size: 0.9em;
    color: hsl(220, 15%, 55%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-weight: 400;
    text-align: center;
    align-self: flex-start;
    justify-self: center;
  }
  .qr-img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1070px) and (orientation: portrait) {
  .main-card {
    background-color: #FFF;
    width: 80%;
    height: 75%;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 85% 1fr;
    grid-template-rows: 1fr 50% 20% 25%;
  }
  .main-card h1 {
    font-size: 4rem;
    color: hsl(218, 44%, 22%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }
  .main-card p {
    font-size: 2.5rem;
    color: hsl(220, 15%, 55%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-weight: 400;
    text-align: center;
    align-self: flex-start;
    justify-self: center;
  }
  .qr-img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
  }
}
